extends layout

block content
    h1 Creating a new article
    form(action="/post", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.input
            span.label Content
            textarea(name="content", cols="40", rows="5")
        div.actions
            input(type="submit", value="add")
