doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
      .container.with-content
        header Welcome!
        .content
          aside.left Menu
            a(href='/') Main page
            a(href='/post') Add a new post
          main.with-content
            block content
          aside.right Menu
        footer Copyright