@import 'susy';

// Susy in action
$susy: (
columns: 12,
);

.container {
  @include container(960px);
}

aside {
  &.left {
    @include span(3 first);
  }
  &.right {
    @include span(2 last);
  }
  height: 100%;
}

main {
  @include span(7);
  height: 100%;
}

article {
  @include gallery(1 of 3);
  height: calc(50% - 7px);
}

// media-queries
@media (max-width: 800px) {
  article {
    @include gallery(1 of 2);
    height: calc(33% - 10px);
  }
}

@media (max-width: 600px) {
  aside.right {
    display: none;
  }

  aside.left {
    @include span(4 first);
  }

  main {
    @include span(8 last);
  }
}

@media (max-width: 500px) {
  aside.left {
    height: 20%;
    margin-bottom: 15px;
    @include span(full);
  }

  main {
    @include span(full);
    height: calc(80% - 15px);
  }
}

@mixin block{
  position: relative;
  background: white;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-family: Monaco, monospace;
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  color: #000;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: gray;
  //@include background-carbon-fibre;
}

.container {
  @include block;

  height: 100%;
  padding: 15px;
}

header {
  @include block;

  height: 15%;
}

.content {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 70%;
}

aside {
  @include block;
  //@include block('aside');
}

main {
  @include block;

  padding: 15px;
}

footer {
  @include block;

  height: 15%;
}

article {
  @include block;

  padding: 10px;
  margin-bottom: 15px;
}