doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      aside.left
      main
        block content
      aside.right
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/blog.js')
